<div *ngIf="dataLoaded==false" class="spinner-border text-primary" role="status">
  <span class="visually-hidden">Loading...</span>
</div>
<table class="table">
  <thead>
    <tr>
      <th>Araba:</th>
      <th>Model Yılı:</th>
      <th>Günlük Kiralama Ücreti:</th>
      <th> </th>
    </tr>
  </thead>
  <tr *ngFor="let car of cars"
      (click)="setCurrentCar(car)"
      routerLink ="/cars/cardetail/{{car.id}}">
    <td>{{car.description}}</td>
    <td>{{car.modelYear}}</td>
    <td>{{car.dailyPrice}}</td>
    <a class="car-btn" routerLink="/cars/cardetail/{{car.id}}" >Detaylar..</a>
  </tr>
</table>
